  </div> <!-- End div.row for main body -->

  <hr />

  <div class="row">
	 <div class="large-4 large-offset-8 columns">
		<p><small>Created using <a href="http://zurb.foundation.com">Zurb Foundation.</a></small></p>
	 </div>
  </div>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'assets/js/vendor/zepto' : 'assets/js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="assets/js/foundation.min.js"></script>
  <!--
  
  <script src="assets/js/foundation/foundation.js"></script>
  
  <script src="assets/js/foundation/foundation.alerts.js"></script>
  
  <script src="assets/js/foundation/foundation.clearing.js"></script>
  
  <script src="assets/js/foundation/foundation.cookie.js"></script>
  
  <script src="assets/js/foundation/foundation.dropdown.js"></script>
  
  <script src="assets/js/foundation/foundation.forms.js"></script>
  
  <script src="assets/js/foundation/foundation.joyride.js"></script>
  
  <script src="assets/js/foundation/foundation.magellan.js"></script>
  
  <script src="assets/js/foundation/foundation.orbit.js"></script>
  
  <script src="assets/js/foundation/foundation.reveal.js"></script>
  
  <script src="assets/js/foundation/foundation.section.js"></script>
  
  <script src="assets/js/foundation/foundation.tooltips.js"></script>
  
  <script src="assets/js/foundation/foundation.topbar.js"></script>
  
  <script src="assets/js/foundation/foundation.interchange.js"></script>
  
  <script src="assets/js/foundation/foundation.placeholder.js"></script>
  
  <script src="assets/js/foundation/foundation.abide.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
